 /*CSS declarations go here */
 body {
  margin: 0px;
  font-family: Roboto;
  background-color: #ECF0F1;
 }

/* Header Component */

/* Post Component */
main {
}

/* NewPost Component*/

.new-post-container {
  margin-left: 20px;
  margin-right: 20px;
}

.text-field-container {
  margin: 0 auto; 
  text-align: center;
  margin-top: 10px;
}

.text-field-container div {
  width: 80% !important;
  text-align: left;
}

.post-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}